<div class="page-frame">
        <div class="frame-top">
        <app-activity-header icons="🖍️" instruction="Rakamların arasından '9' u bulun ve boyayın."></app-activity-header>
    </div>

    <div class="frame-middle">
        <button class="nav-btn" (click)="goPrev()" aria-label="Önceki etkinlik">
            <span class="material-icons">arrow_back</span>
        </button>

        <div class="game-content">
            <div class="numbers-grid">
                @for (cell of grid; track cell.id) {
                <div class="number-cell hover" [class.selected]="isSelected(cell.id)" [class.shake]="cell.isShaking"
                    [class.hint]="isHint(cell)" role="button" tabindex="0" (click)="toggleSelection(cell.id)"
                    (keydown.enter)="toggleSelection(cell.id)" [attr.aria-label]="cell.value + ' Rakamı'"
                    [attr.aria-pressed]="isSelected(cell.id)">

                    <span>{{ cell.value }}</span>
                </div>
                }
            </div>
        </div>

        <button class="nav-btn" [class.locked]="!isNextUnlocked" [disabled]="!isNextUnlocked" (click)="goNext()"
            aria-label="Sonraki etkinlik">
            <span class="material-icons">arrow_forward</span>
        </button>
    </div>

    <div class="frame-bottom">
        <app-action-buttons [isCompleted]="isNextUnlocked" (reset)="clearSelection()" (check)="checkAnswer()" />
    </div>
</div>